label {
  display: block !important;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: bold;
}

input[type="text"] {
  width: 100% !important;
  padding: 0.5rem !important;
  margin-bottom: 1rem !important;
  border: 1px solid #ddd !important;
  border-radius: 4px !important;
  max-width: 400px !important;
}

button[disabled] {
  background-color: #6c757d !important;
  cursor: not-allowed !important;
}

button{
  background-color: blue;
}